header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px blue;
    height: 10vh;
    padding: 0 20px; /* Opcional: para que no peguen contra los bordes de la pantalla */
}

header div h1 {
    display: flex;
    gap: 20px; /* Espacio entre Vandal, Phantom y Operator */
}

.inicio{
    text-align: center;
}

body{
    background-image: url("https://images.hdqwalls.com/wallpapers/yoru-valorant-ez.jpg");
    background-size: cover;       
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed; 
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h2, p{
    color: white;
    
}

h1{
    color: white;
    background-color: transparent;
}

.items{
    background-color: transparent;
}
.contenedor{
    color: transparent;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

img{
   display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
}
.menu {
    display: flex;
    gap: 20px; 
}
.menu a {
    text-decoration: none;
    color: white; 
}